*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 40px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}
span{
    color: darkblue;
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: darkblue;
    border-bottom: 3px solid darkblue;
}

.contact{
    padding: 10px 28px;
    background-color: white;
    color:black;
    border: 2px solid transparent;
    border-radius:8px;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    transform: scale(1.1);
}

.section-heading h2 {
    font-size: 62px;
}
.list-content {
    margin: 2em 0 3em;
}
.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}
li {
    padding: 2px;
}
p {
    font-size: 18px;
}
h4 {
    font-size: 22px;
}
h3 {
    font-size: 42px;
}
h2 {
    font-size: 62px;
}
h1 {
    font-size: 82px;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: lightgray;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
    
}
.home-content {
    max-width: 800px;
}
.home-content p{
    margin: 25px 0 30px;
}
.home-img img{
    position: relative;
    width: 550px;
    border-radius:10%;
    border: 4px solid darkblue;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: darkblue;
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-content h2{
    color: white;
    margin: 1em 0 1em;
}
.about-content p{
    color: white;
}
.about-img img{
    position: relative;
    width: 550px;
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: lightgray;
}
.education-content {
    margin: 2em 0 3em;
}
.education-content h2{
    margin: 1em 0 1em;
}
.education-img img{
    position: relative;
    width: 550px;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: white;
}
.experience-content {
    margin: 2em 0 3em;
}
.experience-content h2{
    margin: 1em 0 1em;
}
.experience-img img{
    position: relative;
    width: 550px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.projects .section-heading h2{
    color:white;
}
.project-content h3{
    color:white;
}
.project-content h4{
    color:white;
}
.project-content li{
    color:white;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: lightgray;
}
.skills .section-content{
    gap: 2em;
    width: 100%
}
.skill-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 500px;
    width: 20%;
    border: 4px solid black;
    border-radius: 10%;
}
.skill-pane img{
    position: relative;
    width: 150px;
    height: 250px;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
    backdrop-filter: blur(10px);
    align-items: center;
}
.footer .navbar {
    text-align: center;
    width: 100%;
}
.socials {
    text-align: center;
    padding: 20px;
}
.socials a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.socials a:hover{
    color: darkblue;
    border-bottom: 3px solid darkblue;
}
